# /
/target
/membrane.log
/.settings
/.project
/.metadata
/.DS_Store

# /annot/
/annot/.classpath
/annot/.project
/annot/.settings
/annot/target

# /core/
/core/.apt_generated
/core/.classpath
/core/.project
/core/target
/core/.settings
/core/temp
/core/.DS_Store

# /distribution/
/distribution/.classpath
/distribution/.project
/distribution/.settings
/distribution/target
/distribution/memrouter.log
/distribution/membrane.log
/distribution/derby.log
/distribution/log.csv
/distribution/examples/router/custom-interceptor/dist
/distribution/examples/router/loadbalancer-session-3/build
/distribution/examples/router/versioning/routing/build
/distribution/examples/router/versioning/xslt/build
/distribution/executable-*.pid
/distribution/executable_launcher.sh

# /osgi/
/osgi/.classpath
/osgi/.project
/osgi/target
/osgi/.settings

# /osgi-extender/
/osgi-extender/.settings
/osgi-extender/.classpath
/osgi-extender/target
/osgi-extender/.project
/osgi-extender/.settings

# /sar/
/sar/.settings
/sar/.classpath
/sar/.project
/sar/target

# /test/
/test/.settings
/test/.project
/test/.classpath
/test/target

# /war/
/war/.apt_generated
/war/.classpath
/war/.project
/war/target
/war/.settings
/war/memrouter.log


# Intellj
*.iml
