*.sh	eol=lf

# Pin test‐fixture encodings
core/src/test/resources/charsets/iso-8859-1.txt -text working-tree-encoding=ISO-8859-1
core/src/test/resources/charsets/utf-8.txt     -text working-tree-encoding=UTF-8
core/src/test/resources/charsets/utf-16.txt     -text