.mb-button {
	font-size: 0.8cm;
}

.mb-param {
	margin-top: 10px;
	margin-bottom: 10px;
}

.proxy-config {
	white-space: pre;
	font-family: "Consolas", "Courier New", Courier, monospace;
	font-size: 9pt;
}

.proxy-config .e {
	color: #3f7f7f;
}

.proxy-config .a {
	color: #7f007f;
}

.proxy-config .v {
	color: #2a3af0;
}

.proxy-config .c {
	color: #3f5fbf;
}

.spv {
	font-size: 9pt;
}

.spv .name {
	font-size: 13pt;
}

.spv table {
	font-size: 8pt;
	border-collapse: collapse;
	margin-top: 5pt;
}
.spv table td, table th {
	border: 1px solid black;
	padding-left: 3pt;
	padding-right: 3pt;
}
.spv table tr:first-child th {
	border-top: 0;
}
.spv table tr:last-child td {
	border-bottom: 0;
}
.spv table tr td:first-child,
.spv table tr th:first-child {
	border-left: 0;
}
.spv table tr td:last-child,
.spv table tr th:last-child {
	border-right: 0;
}

.footer {
	margin-bottom:0; color:#AAAAAA; padding:1em 1.4em; font-size:10pt;
}

.footer a {
	color:#AAAAAA;
}

.footer a:hover {
	color:#000000;
}

table {
	font-size: small;
}

