* {
	font-family: sans-serif;
	font-size: 10pt;
}

body {
	max-width: 800px;
	margin: auto;
}

.content {
}

img.logo {
	float: right;
}

div.logo {
	clear: both;
}

.loginbox {
	margin: 200px auto;
	width: 300px;
}

.error {
	color:red;
}

input {
	margin-bottom: 8pt;
}