<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.predic8.rcp.membrane.MembraneApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.predic8.rcp.membrane.application"
            name="Membrane Monitor">
         <property
               name="appName"
               value="Membrane Monitor">
         </property>
         <property
               name="aboutImage"
               value="icons/logo128.png">
         </property>
         <property
               name="aboutText"
               value="Membrane SOAP Monitor Version 3.1.0&#x0A;  Copyright @  2004-2011 by predic8 GmbH&#x0A;  Moltkestr. 40  53173 Bonn Germany &#x0A;  www.predic8.com &#x0A;  Phone: +49 (0)228/555 25 76-0&#x0A;  info@predic8.de">
         </property>
         <property
               name="windowImages"
               value="icons/logo32.png">
         </property>
      </product>
   </extension>
   <extension
         id="linux_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.predic8.rcp.membrane.application"
            name="membrane-monitor">
         <property
               name="windowImages"
               value="icons/logo32.png">
         </property>
         <property
               name="aboutText"
               value="Membrane SOAP Monitor Version 3.1.0&#x0A;  Copyright @  2004-2011 by predic8 GmbH&#x0A;  Moltkestr. 40  53173 Bonn Germany &#x0A;  www.predic8.com &#x0A;  Phone: +49 (0)228/555 25 76-0&#x0A;  info@predic8.de">
         </property>
         <property
               name="aboutImage"
               value="icons/logo32.png">
         </property>
         <property
               name="appName"
               value="membrane-monitor">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="membrane_monitor_macosx"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.predic8.rcp.membrane.application"
            name="membrane-monitor-macosx">
         <property
               name="windowImages"
               value="icons/logo32.png">
         </property>
         <property
               name="aboutText"
               value="Membrane SOAP Monitor Version 3.1.0&#x0A;  Copyright @  2004-2009 by predic8 GmbH&#x0A;  Moltkestr. 40  53173 Bonn Germany &#x0A;  www.predic8.com &#x0A;  Phone: +49 (0)228/555 25 76-0&#x0A;  info@predic8.de">
         </property>
         <property
               name="aboutImage"
               value="icons/logo32.png">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,220,441,20">
         </property>
         <property
               name="appName"
               value="membrane-monitor-macosx">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="membrane_macosx_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.predic8.rcp.membrane.application"
            name="membrane-monitor-macosx">
         <property
               name="windowImages"
               value="icons/logo32.png">
         </property>
         <property
               name="aboutText"
               value="Membrane SOAP Monitor Version 3.1.0&#x0A;  Copyright @  2004-2011 by predic8 GmbH&#x0A;  Moltkestr. 40  53173 Bonn Germany &#x0A;  www.predic8.com &#x0A;  Phone: +49 (0)228/555 25 76-0&#x0A;  info@predic8.de">
         </property>
         <property
               name="aboutImage"
               value="icons/logo32.png">
         </property>
         <property
               name="appName"
               value="membrane-monitor-macosx">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
