<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="FILE_PATTERN"
                     fileName="membrane.log"
                     filePattern="membrane-%d{yyyy-MM-dd}-%i.log.gz"
                     append="true">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %threadId %t %c{1}:%L %X - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="14"/>
        </RollingFile>
        <RollingFile name="FILE_JSON"
                     fileName="membrane-json.log"
                     filePattern="membrane-json-%d{yyyy-MM-dd}-%i.log.gz"
                     append="true">
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="14"/>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %threadId %t %c{1}:%L %X - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.predic8.membrane.core" level="info" additivity="false">
            <AppenderRef ref="FILE_PATTERN"/>
            <AppenderRef ref="FILE_JSON"/>
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="FILE_PATTERN"/>
            <AppenderRef ref="FILE_JSON"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>