<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <!--
            To turn off the colors in the log set the environment variable MEMBRANE_DISABLE_TERM_COLORS
            Otherwise there are still colors in some statements.
            e.g. export MEMBRANE_DISABLE_TERM_COLORS=true
            -->
            <PatternLayout charset="UTF-8"
                           disableAnsi="${env:MEMBRANE_DISABLE_TERM_COLORS:-false}"
                           pattern="%d{ABSOLUTE} %highlight{%5p}{ERROR=red, WARN=yellow, INFO=cyan} %tid %tn %c{1}:%L %X - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.predic8.membrane.core" level="info" additivity="false">
            <AppenderRef ref="STDOUT" />
        </Logger>
        <Logger name="com.predic8.membrane.core.transport.http.client" level="info" additivity="false">
            <AppenderRef ref="STDOUT" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>