<!--

Access Control List
===================

Configuration for the accessControl plugin.

See: https://www.membrane-soa.org/api-gateway-doc/current/web-soap-acl.html

-->
<accessControl>
    <resource uri="*">
        <clients>
            <hostname>localhost</hostname>
            <ip>127.0.0.1</ip>
            <ip>0:0:0:0:0:0:0:1</ip>
        </clients>
    </resource>
</accessControl>