body {
  background-color: ##E8E8E8;
}

H2 {
  color: #0033CC;
  margin-top: 30px; 	
  margin-left: 20px; 	
}

H3 {
  color: #0033CC;
  margin-top: 30px; 	
  margin-left: 20px; 	
}

H4 {
  color: #660000;
  margin-left: 40px; 	
}

table {
  margin-left: 80px; 
}

p {
 margin-left: 80px; 
}